<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="edu.tamu.tcat.datasvc.rest.err">
   <implementation class="edu.tamu.tcat.dex.rest.v1.ThrowableExceptionMapper"/>
   <service>
      <provide interface="edu.tamu.tcat.dex.rest.v1.ThrowableExceptionMapper"/>
   </service>
</scr:component>
